@custom-variant dark (&:where(.dark, .dark *));

@import 'tailwindcss';

@theme inline {
    --color-black:#000;
    --color-black-100:#000319;
    --color-black-200:rgba(17,25,40,0.75);
    --color-black-300:rgba(255,255,255,0.125);
    --color-white: #fff;
    --color-white-100: #BEC1DD;
    --color-white-200: #C1C2D3;

    --color-blue-100: #E4ECFF;
    --color-purple: #CBACF9;

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    ----breakpoint-xm:900px;
    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
        to {
        transform: translate(calc(-50% - 0.5rem));
        }
    }
}
@keyframes spotlight {
    0% {
        opacity: 0;
        transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -40%) scale(1);
    }
}
@theme inline {
--animate-first: moveVertical 30s ease infinite;
--animate-second: moveInCircle 20s reverse infinite;
--animate-third: moveInCircle 40s linear infinite;
--animate-fourth: moveHorizontal 40s ease infinite;
--animate-fifth: moveInCircle 20s ease infinite;

@keyframes moveHorizontal {
0% {
    transform: translateX(-50%) translateY(-10%);
}
50% {
    transform: translateX(50%) translateY(10%);
}
100% {
    transform: translateX(-50%) translateY(-10%);
}
}

@keyframes moveInCircle {
0% {
    transform: rotate(0deg);
}
50% {
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes moveVertical {
0% {
    transform: translateY(-50%);
}
50% {
    transform: translateY(50%);
}
100% {
    transform: translateY(-50%);
}
}
}


